#db_config.py.example elimina el sufijo .example para usarlo como db_config.py y modifica los valores según tu configuración
MYSQL_HOST = 'localhost'
MYSQL_USER = 'tu_usuario'
MYSQL_PASSWORD = 'tu_contraseña'
MYSQL_DB = 'sga_db'