{% extends 'base.html' %}

{% block title %}Carga Masiva de Alumnos{% endblock %}

{% block content %}
    <h1 class="my-4">Carga Masiva de Alumnos</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success">{{ success }}</div>
    {% endif %}

    <form action="/alumnos/carga_masiva" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="file" class="form-label">Seleccione el archivo JSON:</label>
            <input type="file" class="form-control" id="file" name="file" required>
        </div>
        <button type="submit" class="btn btn-primary">Subir Archivo</button>
    </form>
{% endblock %}
