{% extends 'base.html' %}

{% block title %}Lista de Evaluaciones{% endblock %}

{% block content %}
<h1>Evaluaciones</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Sección</th>
            <th>Año</th>
            <th>Semestre</th>
            <th>Tópico</th>
            <th>Valor</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for evaluacion in evaluaciones %}
        <tr>
            <td>{{ evaluacion[2] }} - {{ evaluacion[3] }}</td>  <!-- Número de la sección y curso -->
            <td>{{ evaluacion[4] }}</td>  <!-- Año -->
            <td>{{ evaluacion[5] }}</td>  <!-- Semestre -->
            <td>{{ evaluacion[1] }} - {{ evaluacion[6] }}</td>  <!-- Tópico -->
            <td>
                {% if evaluacion[9] == 'porcentaje' %}
                    {{ evaluacion[7] }} %
                {% else %}
                    {{ evaluacion[7] }}
                {% endif %}
            </td>  
            <td>
                {{ evaluacion[9] }}
            </td>  
            <td>
                <a href="/evaluaciones/editar/{{ evaluacion[0] }}" class="btn btn-sm btn-warning">Editar</a>
                <a href="/evaluaciones/eliminar/{{ evaluacion[0] }}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/evaluaciones/nuevo" class="btn btn-primary">Nueva Evaluación</a>
{% endblock %}
