{% extends 'base.html' %}
{% block title %}Notas{% endblock %}
{% block content %}
<h1>Notas</h1>
<a href="/notas/nuevo" class="btn btn-success mb-3">Nueva Nota</a>
<a href="/notas/carga_masiva" class="btn btn-warning mb-3">Carga masiva de secciones</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Alumno</th>
            <th scope="col">Curso</th>
            <th scope="col">Sección</th>
            <th scope="col">Tópico</th>
            <th scope="col">Evaluación</th>
            <th scope="col">Nota</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for nota in notas %}
        <tr>
            <th scope="row">{{ nota[0] }}</th>
            <td>{{ nota[1] }}</td>
            <td>{{ nota[2] }}</td>
            <td>{{ nota[3] }} - {{ nota[4] }} {{ nota[5] }}</td>
            <td>{{ nota[6] }} - {{ nota[7] }}</td>
            <td>{{ nota[8] }}</td>
            <td>
                <a href="/notas/editar/{{ nota[0] }}" class="btn btn-warning btn-sm">Editar</a>
                <a href="/notas/eliminar/{{ nota[0] }}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/notas/nuevo" class="btn btn-success">Agregar Nota</a>
{% endblock %}